[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
requests = "*"
mongoengine = "*"
falcon = "*"
graphene = "*"
graphene-mongo = "*"
geopy = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
